@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">TODOLIST</h1>
<a class="button is-link is-outlined" href='/categories'>View categories</a>
<a class="button is-link is-outlined" href='/categories/new'>Add a new category</a>

<p>Views / Home / Index</p>