@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">TODOLIST</h1>

<div class="block">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li class="is-active"><a href="#" aria-current="page">Home</a></li>
    </ul>
  </nav>
</div>

<div class="block">
  <a class="button is-link is-outlined" href='/categories'>View categories</a>
  <a class="button is-link is-outlined" href='/categories/new'>Add a new category</a>
</div>

<p>@Html.ActionLink("See all items", "Index", "Items")</p>


<p class="viewMap">Views / Home / Index</p>