@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">TODOLIST</h1>

<div class="block">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li class="is-active"><a href="#" aria-current="page">Home</a></li>
    </ul>
  </nav>
</div>

<div class="block">
  <a class="button is-link is-outlined" href='/stylists'>View stylists</a>
  <a class="button is-link is-outlined" href='/stylists/new'>Add a new stylist</a>
</div>

<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>


<p class="viewMap">Views / Home / Index</p>