@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">Add a category</h1>

<div class="block">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/categories">Categories</a></li>
      <li class="is-active"><a href="#" aria-current="page">Add Category</a></li>
    </ul>
  </nav>
</div>

<div class="block">
  <form action="/categories" method="post">
    <div class="field has-addons">
      <div class="control">
        <input id="categoryName" name="categoryName" class="input" type="text" placeholder="Category Name">
      </div>
      <button class="button is-info" type="submit">Add</button>
    </div>
  </form>
</div>

<p class="viewMap">Views / Categories / New</p>